* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  background-color: #EFEFEF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 24px 48px 0 48px;
  max-width: 1440px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  margin: auto;
  z-index: 99;
  background: #EFEFEF;
}
@media screen and (max-width: 670px) {
  header {
    padding: 24px 20px 0 20px;
  }
}
header .logo {
  background-image: url("../img/logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 105px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}
header .right_nav .wide_menu {
  padding-top: 5px;
}
header .right_nav .wide_menu a {
  color: #43BD89;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 0 33px;
}
header .right_nav .wide_menu a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 670px) {
  header .right_nav .wide_menu a {
    display: none;
  }
}
header .right_nav .menu_icon {
  display: block;
  background-image: url("../img/menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;
  display: none;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}
header .right_nav .menu_icon:hover {
  transform: scale(1.06);
  cursor: pointer;
}
header .right_nav .menu_icon:active {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0));
  transform: scale(0.94);
}
@media screen and (max-width: 670px) {
  header .right_nav .menu_icon {
    display: block;
  }
}
header .right_nav .top_menu {
  top: -156px;
  left: 0;
  height: 155px;
  background-color: #43BD89;
  position: absolute;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
header .right_nav .top_menu.open {
  top: 0;
}
header .right_nav .top_menu .links a {
  color: #EFEFEF;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  margin: 0 0 5px;
}
header .right_nav .top_menu .links a:hover {
  cursor: pointer;
  transform: scale(1.06);
}
header .right_nav .top_menu .close {
  display: block;
  background-image: url("../img/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;
  margin: 6px 0 0 2px;
}
header .right_nav .top_menu .close:hover {
  cursor: pointer;
  transform: scale(1.06);
}

.content-wrapper {
  position: relative;
  top: 170px;
}
.content-wrapper .section {
  min-height: 100vh;
  position: relative;
  padding: 0 48px;
  color: #43BD89;
  transition: opacity 420ms ease-in;
}
@media screen and (max-width: 670px) {
  .content-wrapper .section {
    padding: 0 20px;
  }
}
.content-wrapper .section.section-1 {
  background-color: #EFEFEF;
  z-index: 9;
}
.content-wrapper .section.section-1 .section_header {
  height: 60px;
  text-align: center;
  max-width: 1050px;
  padding: 0 48px;
  top: 170px;
  left: 0;
  right: 0;
  position: fixed;
  margin: auto;
}
@media screen and (max-width: 670px) {
  .content-wrapper .section.section-1 .section_header {
    top: 130px;
    padding: 0 20px;
  }
}
.content-wrapper .section.section-1 .section_header h1 {
  font-size: 48px;
  margin: -18px 0 0;
}
@media screen and (max-width: 670px) {
  .content-wrapper .section.section-1 .section_header h1 {
    font-size: 28px;
  }
}
.content-wrapper .section.section-1 .product_wrapper {
  position: fixed;
  top: 300px;
  left: 0;
  right: 0;
}
@media screen and (max-width: 670px) {
  .content-wrapper .section.section-1 .product_wrapper {
    top: 220px;
  }
}
.content-wrapper .section.section-1 .product_wrapper .product_spin {
  max-width: 800px;
  margin: auto;
  position: relative;
}
@media screen and (max-width: 670px) {
  .content-wrapper .section.section-1 .product_wrapper .product_spin {
    text-align: center;
  }
}
.content-wrapper .section.section-1 .product_wrapper .product_spin .product-text {
  top: 0;
  right: 0;
  font-size: 28px;
  font-weight: bold;
  max-width: 360px;
  position: absolute;
}
@media screen and (max-width: 670px) {
  .content-wrapper .section.section-1 .product_wrapper .product_spin .product-text {
    display: none;
  }
}
.content-wrapper .section.section-1 .product_wrapper .product_spin .product-text .item {
  position: relative;
  z-index: 99;
}
.content-wrapper .section.section-1 .product_wrapper .product_spin .product-text .item:hover {
  transform: scale(1.03);
  cursor: pointer;
}
.content-wrapper .section.section-1 .product_wrapper .product_spin .product-text .item:hover::after {
  display: block;
}
.content-wrapper .section.section-1 .product_wrapper .product_spin .product-text .item::after {
  content: "";
  background-image: url("../img/arrow.svg");
  width: 106px;
  height: 45px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: -128px;
  top: calc(50% - 18px);
  display: none;
}
.content-wrapper .section.section-1 .product_wrapper .product_spin .product-text .item p {
  margin: 0;
}
.content-wrapper .section.section-1 .product_wrapper .product_spin .product-text .item.one {
  top: 120px;
}
.content-wrapper .section.section-1 .product_wrapper .product_spin .product-text .item.two {
  top: 200px;
}
.content-wrapper .section.section-1 .product_wrapper .product_spin .product-text .item.three {
  top: 120px;
  opacity: 0.5;
}
.content-wrapper .section.section-1 .product_wrapper .product_spin .product-text .item.four {
  top: 200px;
  opacity: 0.5;
}
.content-wrapper .section.section-1 .product_wrapper .product_spin .product-text .item.five {
  top: 120px;
  opacity: 0.05;
}
.content-wrapper .section.section-1 .product_wrapper .product_spin .product-text .item.six {
  top: 200px;
  opacity: 0.05;
}
.content-wrapper .section.section-1 .product_wrapper .product_spin .product-text .item.seven {
  top: 70px;
}
.content-wrapper .section.section-1 .product_wrapper .product_spin .product-text .item.eight {
  top: 120px;
}
.content-wrapper .section.section-1 .product_wrapper .product_spin .product-text .item.nine {
  top: 70px;
  opacity: 0.5;
}
.content-wrapper .section.section-1 .product_wrapper .product_spin .product-text .item.ten {
  top: 120px;
  opacity: 0.5;
}
.content-wrapper .section.section-1 .product_wrapper .product_spin .product-text .item.eleven {
  top: 70px;
  opacity: 0.05;
}
.content-wrapper .section.section-1 .product_wrapper .product_spin .product-text .item.twelve {
  top: 120px;
  opacity: 0.05;
}
.content-wrapper .section.section-1 .product_wrapper .product_spin .product-text .item.thirteen {
  top: 100px;
}
.content-wrapper .section.section-1 .product_wrapper .product_spin .product-text .item.fourteen {
  top: 130px;
}
.content-wrapper .section.section-1 .product_wrapper .product_spin img {
  width: 354px;
  max-width: 40%;
}
@media screen and (max-width: 670px) {
  .content-wrapper .section.section-1 .product_wrapper .product_spin img {
    width: auto;
    max-width: 100%;
    height: 500px;
    max-height: 50vh;
  }
}
.content-wrapper .section.section-2 {
  opacity: 0;
  z-index: 2;
  text-align: center;
  padding-bottom: 40px;
}
.content-wrapper .section.section-2.show {
  opacity: 1;
}
.content-wrapper .section.section-2 .regular_header {
  height: 60px;
  text-align: center;
  max-width: 1050px;
  padding: 64px 48px;
  position: relative;
  margin: auto;
}
@media screen and (max-width: 670px) {
  .content-wrapper .section.section-2 .regular_header {
    padding: 50px 20px;
  }
}
.content-wrapper .section.section-2 .regular_header h1 {
  font-size: 48px;
  margin: -18px 0 0;
}
@media screen and (max-width: 670px) {
  .content-wrapper .section.section-2 .regular_header h1 {
    font-size: 28px;
  }
}
.content-wrapper .section.section-2 .regular_header#accessories {
  margin-top: 96px;
}
@media screen and (max-width: 670px) {
  .content-wrapper .section.section-2 .regular_header#accessories {
    margin-top: 56px;
  }
}
.content-wrapper .section.section-2 .demo {
  max-width: 1050px;
  margin: auto;
  position: relative;
}
.content-wrapper .section.section-2 .demo .video-wrapper {
  position: relative;
  padding-top: 56.25%;
}
.content-wrapper .section.section-2 .demo .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content-wrapper .section.section-2 .accessories_tab {
  display: flex;
  max-width: 1050px;
  margin: auto;
  justify-content: space-between;
  padding-bottom: 72px;
  gap: 4%;
}
@media screen and (max-width: 670px) {
  .content-wrapper .section.section-2 .accessories_tab {
    flex-wrap: wrap;
    padding-bottom: 52px;
  }
}
.content-wrapper .section.section-2 .accessories_tab .product_block {
  flex: 1;
  text-align: left;
}
@media screen and (max-width: 670px) {
  .content-wrapper .section.section-2 .accessories_tab .product_block {
    width: 100%;
    flex: auto;
    margin: 12px;
  }
}
.content-wrapper .section.section-2 .accessories_tab .product_block .block_img {
  width: 100%;
  padding-bottom: 98%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.content-wrapper .section.section-2 .accessories_tab .product_block .block_img.strap {
  background-image: url("../img/strap.png");
}
.content-wrapper .section.section-2 .accessories_tab .product_block .block_img.chain {
  background-image: url("../img/chain.png");
}
.content-wrapper .section.section-2 .accessories_tab .product_block .block_img.case {
  background-image: url("../img/case.png");
}
.content-wrapper .section.section-2 .accessories_tab .product_block p {
  font-size: 24px;
  font-weight: 700;
  margin: 22px 0 5px;
}
@media screen and (max-width: 670px) {
  .content-wrapper .section.section-2 .accessories_tab .product_block p {
    margin: 12px 0 5px;
  }
}
.content-wrapper .section.section-2 .accessories_tab .product_block h4 {
  font-size: 36px;
  font-weight: 400;
  margin: 5px 0 0;
}
@media screen and (max-width: 670px) {
  .content-wrapper .section.section-2 .accessories_tab .product_block h4 {
    font-size: 28px;
  }
}
.content-wrapper .section.section-2 a.button {
  background-color: white;
  border: 2px solid #43BD89;
  color: #43BD89;
  text-decoration: none;
  padding: 11px 18px;
  font-weight: 700;
  font-size: 21px;
  text-align: center;
  margin: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.content-wrapper .section.section-2 a.button:hover {
  font-size: 22px;
}
.content-wrapper .section.section-2 a.button:active {
  font-size: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
}
.content-wrapper p.footer {
  margin: 0;
  padding: 50px 20px;
  color: #43BD89;
  text-align: center;
}
.content-wrapper p.footer a {
  color: #43BD89;
  text-decoration: underline;
}
.content-wrapper p.footer a:hover {
  font-weight: 700;
}

/*# sourceMappingURL=styles.css.map */
