*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url("../img/tile_02.png");
  background-position: center;
  background-repeat: repeat;
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  width: 1920px;
  height: 1080px;
  margin: auto;
  transition-property: transform;
  transition-duration: .5s;
  transform: scale(1);
  transform-origin: 2.5% 38.2%;
}

.wrapper.zoom {
  transform: scale(2);
}

.desk {
  position: absolute;
  background-image: url("../img/full_setup.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.screen {
  position: absolute;
  width: 435px;
  height: 330px;
  background-color: black;
  top: 280px;
  left: 274px;
}

.desktop {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  pointer-events: none;
}

.desktop.on {
  background-color: #008584;
  opacity: 1;
  pointer-events: all;
}

.programs {
  position: absolute;
  display: flex;
  width: 390px;
  height: 227px;
  left: 22px;
  top: 30px;
  flex-wrap: wrap;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}

.row.two {
  padding-top: 16px;
}

.program {
  width: 77px;
  height: 100%;
}

.icon {
  width: 100%;
  height: 77px;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

.icon.paint {
  background-image: url("../img/paint.png");
}

.icon.lemmings {
  background-image: url("../img/lemmings.png");
}

.icon.messenger {
  background-image: url("../img/messenger.png");
}

.icon.oregon {
  background-image: url("../img/oregon.png");
}

.icon.music {
  background-image: url("../img/music.png");
}

.icon.scan {
  background-image: url("../img/scan.png");
}

.icon.photos {
  background-image: url("../img/photos.png");
}

.icon.settings {
  background-image: url("../img/settings.png");
}

.name p {
  margin: 8px 0 0;
  color: white;
  text-align: center;
  display: block;
  font-size: 13px;
}

.taskbar {
  position: absolute;
  bottom: 0;
  left: 0;
  border: 2px solid;
  border-bottom-color: #C0C0C0;
  border-right-color: #C0C0C0;
  border-left-color: #C0C0C0;
  border-top-color: #fdf9fd;
  width: calc(100% - 1px);
  height: 26px;
  background-color: #C0C0C0;
  padding: 3px;
}

.paint_program, .lemmings_program, .oregon_program {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  top: 0;
}

.paint_program.on, .lemmings_program.on, .oregon_program.on {
  opacity: 1;
  pointer-events: all;
}

.power_button {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: gray;
  opacity: .1;
  top: 533px;
  left: 907px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px gray;
}

.power_button.on {
  opacity: .3;
  background-color: #4ecf53;
  box-shadow: 0px 0px 10px #4ecf53;
}

.power_button:hover {
  cursor: pointer;
  background-color: gray;
  opacity: .5;
  box-shadow: 0px 0px 10px gray;
}

.power_button:active {
  cursor: pointer;
  background-color: #acc643;
  opacity: .5;
  box-shadow: 0px 0px 10px #acc643;
}

.power_button.on:active {
  background-color: #cf4e4e;
  box-shadow: 0px 0px 10px #cf4e4e;
}
